.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_brand {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  padding: 10px;
  margin-right: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header_back_arrow {
  font-size: 30px;
  padding-left: 30px;
  margin-right: auto;
  color: rgb(53, 53, 53);
}
.header a {
  margin-right: auto;
}

.header_photo {
  width: 100%;
  max-height: 30em;
  -o-object-fit: cover;
  object-fit: cover;
}
