.menu_container {
  background-color: rgb(246, 246, 246);
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
}
.menu_container_title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  padding: 20px;
}

.menu_title {
  color: rgb(53, 53, 53);
}
.menu_title--underline {
  padding: 2px;
  background-color: var(--clr-tertiary);
  width: 40px;
}

.menu_list_item {
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.menu_list_item_name {
  font-weight: bold;
}
.menu_list_item_ingredients {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_list_item_wrapper {
  margin: 10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
}
.menu_list_item_price {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 20px;
}
.btnpage {
  display: flex;
  justify-content: center;
  padding: 35px 50px 80px 50px;
  color: rgb(53, 53, 53);
}
/* ***** PARTIE RESPONSIVE ***** */
.wrappergridmenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.2rem;
  justify-content: center;
}
