@import "1.Base/Reset.css";
@import "2.Utils/variables.css";
@import "3.Layout/header.css";
@import "3.Layout/footer.css";
@import "4.Composants/regular_button.css";
@import "4.Composants/like_button.css";
@import "4.Composants/loader.css";
@import "5.Pages/Acceuil/tuto.css";
@import "5.Pages/Acceuil/restaurants_cards.css";
@import "5.Pages/Menus/animation_des_menu.css";
@import "5.Pages/Menus/slide_des_plats.css";
@import "5.Pages/Acceuil/localisation_navigation.css";
@import "3.Layout/listes_menu.css";
