/* Colors: */

:root {
  --clr-primary: #9356dc;
  --clr-grey: #7e7e7e;
  --btn-bg: linear-gradient(0deg, #a55cdc, #e771da);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 20px;
}
.heading {
  width: 100%;
  display: flex;
  justify-content: center;
}
.heading .__logo {
  padding: 1em 5em 1em 5em;
  width: 100%;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 0.5em 5em 0.5em 5em;
}
.location .__ping {
  padding: 0.5em;
}
.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 2em 4em 2em;
  text-align: center;
}
.explore p {
  color: grey;
}

.btn {
  width: 15em;
  height: 3em;
  color: white;
  font-weight: bold;
  border-radius: 10em;
  border: none;
  background: linear-gradient(0deg, #a55cdc, #e771da);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

nav {
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: auto;
}
.nav__list {
  margin: 0;
  padding: initial;
}
ol {
  counter-reset: orderedlist;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  gap: 1em;
}
li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 25px;
}

.nav__list__item {
  background-color: #f6f6f6;
  border-radius: 2em;
  padding: 2em;
  margin: 2em;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.nav__list__item i {
  color: var(--clr-grey);
}
.nav__list__item--actif {
  background-color: #f5edff;
  border-radius: 2em;
  padding: 2em;
  margin: 2em;
  font-weight: bold;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.nav__list__item--actif i {
  color: var(--clr-primary);
}

/* ***** HOME PAGE RESTAURANTS ***** */
a {
  text-decoration: none;
}
.homepage_restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}

.homepage_restaurants_title {
  font-weight: bold;
  margin-top: 40px;
  font-size: 20px;
}
.homepage_restaurants_card {
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 20px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.homepage_restaurants_photos {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.homepage_restaurants_card_badge {
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  border-radius: 2px;
  margin: 10px;
  padding: 8px;
  position: absolute;
  right: 20px;
}
.container {
  display: flex;
}
.homepage_restaurants_card_txt {
  margin: 10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homepage_restaurants_card_title {
  font-weight: bold;
}
.homepage_restaurants_card_like {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 26px;
  margin-right: 20px;
}
/* svg {
  overflow: visible;
  width: 2rem;
  stroke: black;
  stroke-width: 10px;
  fill: transparent;
}
svg:hover {
  fill: url(#pattern);
  stroke: transparent;
}

.like {
  cursor: pointer;
  background: transparent;
  border: none;
} */
input {
  display: none;
}

label {
  fill: transparent;
  stroke: black;
  stroke-width: 10px;
  cursor: pointer;
}

input:checked + label {
  fill: url(#pattern);
  stroke: transparent;
}
svg {
  width: 2rem;
  overflow: visible;
}
/* ***** FOOTER ***** */
footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 20px;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  margin-left: 10px;
}
.fa-hands-helping {
  font-size: 13px;
}
.footer_list {
  margin: 10px;
  display: flex;
}
.footer_list_icon {
  width: 25px;
}
/* ***** PAGE 2 *****  */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_brand {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  padding: 10px;
  margin-right: auto;
}
.header_back_arrow {
  font-size: 30px;
  padding-left: 30px;
  margin-right: auto;
  color: rgb(53, 53, 53);
}
.header_photo {
  width: 100%;
}

.menu_container {
  background-color: rgb(246, 246, 246);
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
}
.menu_container_title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menu {
  padding: 20px;
}

.menu_title {
  color: rgb(53, 53, 53);
}
.menu_title--underline {
  padding: 2px;
  background-color: rgb(153, 226, 208);
  width: 40px;
}
.menu_list_item {
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  display: flex;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu_list_item_name {
  font-weight: bold;
}
.menu_list_item_ingredients {
  font-size: 15px;
}
.menu_list_item_wrapper {
  margin: 10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.menu_list_item_price {
  width: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
  margin-right: 20px;
}
.btnpage {
  display: flex;
  justify-content: center;
  padding: 35px 50px 80px 50px;
  color: rgb(53, 53, 53);
}
/* ***** ANIMATION ***** */
.slide-left {
  background-color: rgb(153, 226, 208);
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -200px;
  transition-duration: 0.5s;
  /* animation-duration: 2s; */
  /* background: transparent; */

  /* visibility: hidden; */
  /* display: none; */
}
.slide-left i {
  color: white;
}

.menu_list_item:hover .slide-left {
  margin-right: 0;
}
.menu_list_item i {
  transition-duration: 0.8s;
  transform: rotate(200deg);
}
.menu_list_item:hover i {
  transform: rotate(0deg);
}
/* ***** LOADER *****  */
.circle {
  width: 50px;
  height: 50px;
  border: solid 6px rgba(307, 71, 67, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle::before {
  content: "\f2e7";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: rgba(307, 71, 67, 0.4);
}
.circle::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  animation: loader 1.5s;
  animation-fill-mode: forwards; /*se postitionne la ou l'animation s'arrete */
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.menu_list_item {
  animation: apparition 1.5s;
}
.no1 {
  animation-delay: 0;
}
.no2 {
  animation-delay: 0.2s;
}
.no3 {
  animation-delay: 0.4s;
}
.no4 {
  animation-delay: 0.6s;
}
.no5 {
  animation-delay: 0.8s;
}
.no6 {
  animation-delay: 1s;
}
.no7 {
  animation-delay: 1.2s;
}
.no8 {
  animation-delay: 1.4s;
}
.no9 {
  animation-delay: 1.6s;
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
