.slide-left {
  background-color: var(--clr-tertiary);
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -200px;
  transition-duration: 0.5s;
  margin-left: auto;
}
.slide-left i {
  color: white;
}

.menu_list_item:hover .slide-left {
  margin-right: 0;
}
.menu_list_item i {
  transition-duration: 0.8s;
  transform: rotate(200deg);
}
.menu_list_item:hover i {
  transform: rotate(0deg);
}
