.slide-left {
  background-color: var(--clr-tertiary);
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -200px;
  transition-duration: 0.5s;
  margin-left: auto;
}
.slide-left i {
  color: white;
}

.menu_list_item:focus .slide-left i {
  animation: test 0.4s linear 2;
}

.menu_list_item:focus .slide-left {
  margin-right: 0;
}

@-webkit-keyframes test {
  to {
    transform: rotate(360deg);
  }
}
@keyframes test {
  to {
    transform: rotate(360deg);
  }
}
