.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 0.5em 5em 0.5em 5em;
}
.localisation_marker {
  padding: 0.5em;
  cursor: pointer;
}
.explore {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 2em 4em 2em;
  text-align: center;
}
.explore p {
  color: grey;
}
