.homepage_restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}
.homepage_wrappergrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
  justify-content: center;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
.homepage_restaurants_title {
  font-weight: bold;
  margin-top: 40px;
  font-size: 20px;
}
.homepage_restaurants_card {
  height: auto;
  width: auto;
  border-radius: 10px;
  margin: 20px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
.homepage_restaurants_card:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}

.homepage_restaurants_photos {
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.homepage_restaurants_card_badge {
  background-color: var(--clr-tertiary);
  color: var(--clr-tertiary-darker);
  font-weight: bold;
  border-radius: 2px;
  margin: 10px;
  padding: 8px;
  position: absolute;
  right: 0;
}
.container_card {
  display: flex;
}
.homepage_restaurants_card_txt {
  margin: 10px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homepage_restaurants_card_title {
  font-weight: bold;
}
.homepage_restaurants_card_like {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
  margin-right: 20px;
}
